<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<h1><%= I18n.t('spree.registration') %></h1>
<div id="registration" data-hook>
  <div id="account" class="col-12 col-md-8">
    <%= render template: 'spree/user_sessions/new' %>
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout" data-hook class="col-md-6">
      <h6><%= I18n.t('spree.guest_user_account') %></h6>
      <% if flash[:registration_error] %>
        <div class='flash error'><%= flash[:registration_error] %></div>
      <% end %>
      <%= form_for @order, url: update_checkout_registration_path, method: :put, html: { id: 'checkout_form_registration' } do |f| %>
        <div class="form-group">
          <%= f.label :email, Spree.t(:email), class: 'required', title: 'required' %>
          <%= f.email_field :email, class: 'form-control title', placeholder: I18n.t('spree.email') %>
        </div>
        <div><%= f.submit I18n.t('spree.continue'), class: 'btn btn-lg btn-success btn-block' %></div>
      <% end %>
    </div>
  <% end %>
</div>
